* {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(237, 219, 168);
    font-family: 'Bebas Neue', cursive;
}

.container {
    color: rgb(30,30,200);
    margin: 0 auto;
    width: 700px;
}

.gameBoard {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 90%;
    /* border: 1px solid black; */
}

.gameBoard img {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border: 1px solid black;
}

.gameBoard img:hover{
    transform: scale(.975);
}

/* .gameBoard img:active{
    transform: rotateY(180deg)
} */

#reset {
    margin: 5% 35%;
    font-size: 1.5rem;
    cursor: pointer;
    justify-content: center;
    background-color: white;
    border: 3px dotted orange;
}

#reset:hover {
    background-color: rgb(30,30,200);
    color: orange;
    transform: scale(1.05);
}